
html{
    box-sizing: border-box;
}
body{
    background-color: lightblue;/*url(../Images/rubikscube1.jpg);*/
}
h1{
    background-color: brown;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    padding:0px;
}
p{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.end{
    text-align: left;
}
footer{
    font-weight: bold;
    font-style: italic;
}
.back .home{
    text-align: left;
}
.next{
    text-align: right;
}
a {
    color: inherit;
    text-decoration: inherit;
}
div{
    display: flex;
}

