body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    /*background-color: rgba(0, 0, 0, 0.795);*/
    background-image: url(../Images/Background/Background1.jpg);
    background-size: 1690px 920px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment:scroll;
}
img {
    height: 100px;
    width: 100px;
}
.cube-steps-container {
    background-color: rgba(255,255,255,0.5);
    /*background-color: aquamarine;*/
    overflow-x: auto;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 0;
}
.container1 , .container2 {
    display: flex;
}
.faces {
    flex: 1;
}
h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
div {
    font-weight: bold;
}
.return {
    background-color: rgb(148, 148, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

a {
    color: inherit;
    text-decoration: inherit;
}
