*{
    box-sizing: border-box;
}
body {
    background-image: url(../Images/rubikscubeE.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
}
a {
    color: red;
    text-decoration: inherit;
  }
.algos {
    background-color: rgba(255,255,255,0.5);
    margin: 30px;
    padding: 30px;
    border: 10px solid rgb(0, 119, 255);
    text-align: center;
    text-decoration: solid;
}
h1{
    text-align: center;

}
.title {
    color: aquamarine;
}
ul {
    list-style: none;
}

