*{
    box-sizing: border-box;
}
.algos {
    background-color: rgb(109, 120, 184);
    margin: 15px;
    padding: 20px;
    border: 20px solid rgb(0, 119, 255);
    text-align: center;
}
h1{
    text-align: center;

}
.title {
    color: aquamarine;
}
