*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
.title {
    color: aquamarine;
}
body {
    background-image: url(../Images/Background/Background1.jpg);
    background-size: 1690px 920px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment:scroll;
}
a {
    color: black;
    text-decoration:none;
    font-size: larger;
    font-weight: bold;
}
.algos {
    background-color: rgba(255,255,255,0.5);
    margin: 30px;
    padding: 30px;
    border: 10px solid rgb(0, 119, 255);
    border-radius: 6px;
    text-align: center;
    text-decoration: solid;
}
ul {
    list-style: none;
}

